.form {
  //margin-block: 24px;
  //display: flex;
  //align-items: center;

  input {
    //padding: 10px;
    //border-radius: 5px;
    //border: 1px solid #ccc;
    //margin-right: 10px;
    //font-size: 16px;
  }

  //button {
  //  padding: 10px 20px;
  //  background-color: #007bff;
  //  color: white;
  //  border: none;
  //  border-radius: 5px;
  //  cursor: pointer;
  //
  //  &:hover {
  //    background-color: #0056b3;
  //  }
  //}

  .error {
    color: red;
    margin-top: 10px;
  }
}

.canvasContainer {
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 10px;
}
